.blog-post > p {
    font-weight: 300;
    line-height: 2;
    color: #3a4145;
    margin-bottom: 30px;
}

.blog-cover {
    height: auto;
    min-height: 60vh;
    width: 100%;
    margin-bottom: 5rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog-post {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 130%;
    text-align: justify;
}

.blog-post > h1 {
    text-align: left;
    font-size: 180%;
}

@media screen and (max-width: 640px) {
    .blog-post {
        width: 90%;
        margin: auto;
    }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;

    max-width: 100%;
    height: auto;
    width: auto\9;
}


table {
    margin-left: auto;
    margin-right: auto;
}

tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
}

th,
td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

blockquote {
    position: relative;
    left: -28px;
    padding: 0 0 0 20px;
    border-left: #4A4A4A 8px solid;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-style: italic;
}

/* li>p {
    margin: 20;
} */

.blog-object-description {
    text-align: center;
    margin-left: 15px;
    margin-left: 15px;
    font-size: 80%;
}

.blog-footnotes {
    font-size: 60%;
    margin-bottom: 0px !important;
}

.blog-box {
    border: 5px solid grey;
    padding: 15px;
}