.personal-image {
    margin-top: 5%;
    height: 40vmin;
    border-radius: 50%;
    margin-bottom: 50px;
    border: 0.5vh solid grey;
}

.main-landing-container {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    font-size: 180% !important;
    text-align: center;
}

.landing-intro .landing-intro > * {
    color: white;
}


.image-container {
    padding-left: 15%;
    margin-right: 0;
    float: left;
}

.text-container {
    padding-top: 60px;
    padding-left: 1%;
    vertical-align: center;
    align-items: center;
    overflow: hidden;
    padding-right: 0%;
    margin-right: 0%;
}

.wrapper {
    align-items: left;
}

@media screen and (max-width: 400px) {

    .wrapper {
        align-items: center;
    }

    .wrapper> div {
        margin: 0;
        padding: 0;
    }

    .image-container {
        float: none;
        margin-right: 0;
        width: auto;
        border: 0;
    }
}

.particles-wrapper {
    position: relative;
}

.particles-content{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}