.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects .project-title {
    text-align: center;
    color: #3e497a;
    font-size: 60px;
    font-weight: bolder;
}

.project-list {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

/* MENU ITEM STYLING */

.project-item {
    border-radius: 15px;
    width: 300px;
    height: 400px;
    margin: 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.project-item:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.project-item .project-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-item h1 {
    font-size: 25px;
}

.project-item p {
    margin-left: 70%;
    font-size: 18px;
    font-style: italic;
    color: orange;
}

@media only screen and (max-width: 1300px) {
    .project-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .project-list {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .project-list {
        width: 100%;
    }

    .project-item {
        width: 300px;
        height: 400px;
    }
}